<ion-view view-title="About Us" hide-back-button="true">

<ion-nav-bar class="bar-stable">
      
       </ion-nav-bar>

          <ion-nav-buttons side="left">
    
    <button class="button button-icon button-clear ion-android-arrow-back" ng-click="about()">
    </button>
  
</ion-nav-buttons>
     <ion-content class="has-header background">
     <br>
     <div class = "card" ng-bind-html="abt" style="background-color: #262627;">

     <!---<p>    

    Daily food is an an online food service provider mobile app delivers hygienic food at your door step. We are a team of passionate, inspired and motivated young people aims to be a reliable source of hygienic food in your city Anand, Gujarat. Daily food is started to satisfy your primary need of elegant, testy and healthy food with good hygiene. We serves the best food at reasonable rate without compromising with quality.</p><br>-->


    </div>
         
</ion-content>
</ion-view>
