<ion-view view-title="Contact Us" hide-back-button="true">

<ion-nav-bar class="bar-stable">
      
       </ion-nav-bar>

          <ion-nav-buttons side="left">
    
    <button class="button button-icon button-clear ion-android-arrow-back" ng-click="about()">
    </button>
  
</ion-nav-buttons>
     <ion-content class="has-header background">
    <br>

           <div class="card" ng-bind-html="cntct" style="background-color: #262627;">

          

           </div>
<!---<div class="card" style="background-color: #262627;">
           <p>203, Radha Mohan Complex,<br>
            Besides Iscon Temple,<br>
            Opp. Municipality Garden,<br>
             Vallabh Vidhyanagar - 388120.<br>
			(O): 02692-247247<br>
			(M): +91-9033540113<br>
			E-mail: <span style="color:#f16539;">info@aksharsoftwaresolutions.com</span>
			</p>-->

</ion-content>
</ion-view>
