<ion-view view-title="Delivery Policies" hide-back-button="true">

<ion-nav-bar class="bar-stable">
      
       </ion-nav-bar>

          <ion-nav-buttons side="left">
    
    <button class="button button-icon button-clear ion-android-arrow-back" ng-click="about()">
    </button>
  
</ion-nav-buttons>
     <ion-content class="has-header background">
     <br>
     <div class = "card" ng-bind-html="deliverypolicies" style="background-color: #262627;">

   <!--- <p>We prepare fresh food after the order is placed.</p>
    <p style="color:#f16539;">Delivery Time for lunch is between 12:00 to 01:30.</p>
    <p style="color:#8dc112;"> (You must have to order Lunch before 09:30 AM.)</p>
    <p style="color:#f16539;">Delivery time for dinner is between 07:00 to 08:30.</p>
<p style="color:#8dc112;">(You must have to order dinner before 05:30 PM.).</p>
<p>Depending upon the working conditions, the delivery time may differ.</p>
<p>In case of bulk orders, the delivery time may increase, which would be informed upfront to you.</p>
<p>The delivery charge will be applicable and is subject to change.</p>-->


    </div>
         
</ion-content>
</ion-view>
