<ion-view view-title="Refund/Cancellation Policy" hide-back-button="true">

<ion-nav-bar class="bar-stable">
      
       </ion-nav-bar>

          <ion-nav-buttons side="left">
    
    <button class="button button-icon button-clear ion-android-arrow-back" ng-click="about()">
    </button>
  
</ion-nav-buttons>
     <ion-content class="has-header background">
    <br>

           <div class="card" ng-bind-html="refund" style="background-color: #262627;">

          <!--- <h4 style="color:black;">MODIFICATION TO ORDERS POST PAYMENT</h4>  
          

            <p>Once the Food order is place online and payment done, orders cannot be modified, altered or changed in any way.</p><br>

            <h4 style="color:black;">CANCELLATION POLICY</h4>  
                    
            <p>
            You must notify the restaurant where you placed the food order or the central order line +919033540113 immediately if you decide to cancel your Food order, preferably by phone, and quote your Online order number. If the restaurant accepts your cancellation, no cancellation fee applies. If the restaurant refuses cancellation, e.g. because preparation of Food Delivery has been completed and/or Food delivery personnel has already been dispatched, it may not be cancelled. We will not be able to refund any online order, which has been already dispatched. Advance orders are also subject to this cancellation policy.<br><br>

            <p>
            We may cancel a contract if the product is not available for any reason. We will notify you if this is the case and return any payment that you have made while ordering online.</p><br>


            <h4 style="color:black;">REFUND POLICY</h4> 

            <p>
            If the cancellation was made in time and once the restaurant has accepted your cancellation, we will refund or re-credit your debit or credit card with the full amount within 14 days, which includes the initial delivery charge (where applicable) which you paid for the delivery of the Goods or the Services, as applicable.</p><br> -->



           </div>

</ion-content>
</ion-view>
