<ion-view view-title="Reviews" cache-view="false" hide-back-button="true">
<ion-nav-bar class="bar-stable">
      
       </ion-nav-bar>

          <ion-nav-buttons side="left">
    
    <button class="button button-icon button-clear ion-android-arrow-back" ng-click="reviewhome()">
    </button>
  
</ion-nav-buttons>



<ion-nav-buttons side="right">
                 
             
<button class="button button-clear button-assertive" ng-click="reviewpage1()" style="float:right; margin-right: 15px; color: #f16539;">
  <i class="ion-edit"></i>
</button>

          </ion-nav-buttons>

 <ion-content class="has-header background">
    <br><br><br>
    <!--- <p style="float:right; margin-right: 15px;">Total Reviews: {{reviewnum}}</p>-->
<div ng-repeat="rev in review">
<br>
<span style="margin-left: 19px;">{{rev.tname}}</span>

<rating ng-model="rev.rating" max="rating.max" style="margin-top: -27px; float:right;
margin-right: 18px; height:5px; color:#f16539;"></rating>
<br><br>
 <p style="margin-left: 19px;">{{rev.review}}</p><br>

<br>
<hr>
</div>   
 <span ng-show="reviewpages">{{reviewpage}}</span>

     <ion-infinite-scroll
    on-infinite="loadMorereview(reviewpage)"
  icon="ion-loading-c"
    distance="5%">
  </ion-infinite-scroll>

   
 
  
    </ion-content>
  
</ion-view>
  
     
